POSTGRES_DB=haveqr
POSTGRES_USER=haveqr
POSTGRES_PASSWORD=haveqr_dev_password
RABBITMQ_DEFAULT_USER=haveqr
RABBITMQ_DEFAULT_PASS=haveqr_dev_password
R2_BUCKET=
R2_ACCOUNT_ID=
R2_ENDPOINT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=